# CONTRATO DE DOAÇÃO DE DINHEIRO


## I - DAS PARTES

**DOADOR:** **FRANCISCA EDNA DA CRUZ PEDREIRA**, brasileira, separada judicialmente, empresária, portando RG nº. 1092337/SSP-RN e inscrito no CPF nº. 663.602.424-00, residente e domiciliado na Rua Estirão Equador, 2861, Setor Abolição IV, Mossoró/RN.

**DONATÁRIO:** **{{ NOME_DONATARIO }}**, {{ NACIONALIDADE_DONATARIO }}, {{ ESTADO_CIVIL_DONATARIO }}, {{ PROFISSAO_DONATARIO }}, portando RG nº. {{ RG_DONATARIO }} e inscrito no CPF nº. {{ CPF_DONATARIO }}, residente e domiciliado na {{ ENDERECO_DONATARIO }}, {{ CIDADE_UF_DONATARIO }}, CEP {{ CEP_DONATARIO }}, telefone {{ TELEFONE_DONATARIO }}, E-mail {{ EMAIL_DONATARIO }}.


## II – DAS PREMISSAS DO NEGÓCIO JURÍDICO

Considera-se doação, o contrato em que uma pessoa, o doador, agindo por determinação própria (liberalidade), transfere gratuitamente do seu patrimônio, bens ou vantagens para o de outra, o donatário, que o aceita livremente (artigo 538).

Resolvem as partes acima qualificadas, que doravante serão referidas apenas como DOADOR e DONATÁRIO, têm entre si, justo e contratado celebrar o presente Contrato de Doação de acordo com art. 538 do Código Civil e pelas seguintes cláusulas e condições em que ambas, mútua e reciprocamente, aceitam, outorgam e declaram que firmam o presente instrumento cientes e plenamente conhecedoras das seguintes premissas, com base nas quais o presente negócio é celebrado:

1.  **Finalidade da Doação:** O DOADOR, de livre e espontânea vontade, tem por objetivo transferir a propriedade do objeto deste contrato, conforme os termos do art. 538 e seguintes do Código Civil Brasileiro, declarando que o valor não comprometer seu sustento nem a legítima dos herdeiros necessários, conforme disposto nos artigos 548 e 549 do Código Civil.
2.  **Valor Líquido da Doação:** O valor doado será transferido de forma líquida, devendo ser descontado o Imposto de Transmissão Causa Mortis e Doação (ITCMD) estipulado pela legislação do Estado de residência do DOADOR, o qual se responsabiliza pelo pagamento de acordo com art. 155, Inciso I, da Constituição Federal.
3.  **Aceitação Livre do Donatário:** O DONATÁRIO aceita livremente e sem quaisquer vícios de consentimento a quantia doada, em conformidade com os princípios da boa-fé objetiva e liberdade de contratar, previstos no art. 104 do Código Civil.
4.  **Destinação do Valor Recebido:** A quantia recebida pelo DONATÁRIO será empregada de acordo com seu livre arbítrio, sem quaisquer restrições impostas pelo DOADOR, exceto aquelas eventualmente previstas em lei ou neste contrato, observando-se o disposto no art. 552 do Código Civil.
5.  **Cláusula de reversão:** em caso de envolvimento pelo DONATÁRIO em crimes graves e/ou financiamento de transações proibidas. Possibilidade de revogação em caso de descumprimento das obrigações (Art. 553 do CC) - CARÁTER SIGILOSO


## III – DO NEGÓCIO JURÍDICO


### CLÁUSULA PRIMEIRA – DO OBJETO

O objeto do presente contrato compreende a transferência pelo DOADOR ao DONATÁRIO de livre e espontânea vontade o valor bruto de R$ {{ VALOR_BRUTO_DOACAO_NUM }} ({{ VALOR_BRUTO_DOACAO_EXTENSO }}), descontando a alíquota de {{ ALIQUOTA_ITCMD_PERCENTUAL }} do Imposto de Transmissão sobre o importe bruto da doação, portanto, correspondendo ao valor líquido de R$ {{ VALOR_LIQUIDO_DOACAO_NUM }} ({{ VALOR_LIQUIDO_DOACAO_EXTENSO }}).

**Parágrafo primeiro:** O DOADOR, em substituição ao DONATÁRIO, pagará a alíquota do imposto de transmissão por doação definido pelo Estado de residência do DOADOR, ou seja, Rio Grande do Norte, até o importe de R$ {{ VALOR_ITCMD_NUM }} ({{ VALOR_ITCMD_EXTENSO }}).

**Parágrafo segundo:** Na eventualidade de antes ou após a doação, valores ultrapassarem o disposto no parágrafo primeiro desta cláusula, por ocorrerem alíquotas diferenciadas, normativas novas determinarem a incidência de novas taxas, impostos, contribuições e/ou afins sobre a doação, a despesa será de responsabilidade exclusiva do DONATÁRIO.

**Parágrafo terceiro:** O DOADOR declara ser legítimo possuidor e proprietário do valor doado, o qual possui origem lícita e inteiramente livre e desembaraçada de todos e quaisquer ônus, dívidas, encargos e gravames, não havendo restrição, quer de natureza legal, contratual, societária ou judicial, que o impeça de validamente doá-la ao DONATÁRIO, a qualquer valor, em conformidade com Art. 548 e 549 do Código Civil Pátrio.

**Parágrafo quarto:** Ao doar o referido valor o DOADOR transfere toda posse, direito, ação e domínio que sobre ele exercia, somente podendo reavê-lo em caso de prática, pelo DONATÁRIO, dos crimes e proibições estampados, exemplificativamente, na CLÁUSULA 2ª deste instrumento, nos termos da lei.

**Parágrafo quinto:** A quantia será repassada ao DONATÁRIO por meio de Ordem de Pagamento (O.P) ou transferência bancária, efetuada pelo DOADOR, cuja cópia da ordem de pagamento, que integrará o presente termo, será encaminhada ao DONATÁRIO, por meio de correio eletrônico ou outro meio de recebimento inequívoco.

**Parágrafo sexto:** O pagamento será efetivado por instituição financeira em conta de titularidade do DONATÁRIO: {{ BANCO_DONATARIO }}, agência: {{ AGENCIA_DONATARIO }}, conta {{ CONTA_TIPO }}: {{ CONTA_DONATARIO }}, conforme indicação do próprio.

**Parágrafo sétimo:** O DOADOR, espontaneamente, declara ser possuidor de outros bens e rendas suficientes a garantir sua subsistência, e que o valor doado não interfere na legítima de herdeiros, em conformidade com o disposto nos Artigos 548 e 549 do Código Civil e demais normas pertinentes.

**Parágrafo oitavo:** Na hipótese de óbito do DONATÁRIO, após assinatura do contrato, porém antes da doação, a importância comprometida será doada aos herdeiros, mediante apresentação de formal de partilha em conformidade com o que dispõe a legislação sucessória nacional.

### CLÁUSULA SEGUNDA – DAS CAUSAS EXEMPLIFICATIVAS DE REVERSÃO DA DOAÇÃO

Além das demais hipóteses previstas na legislação brasileira e tratados internacionais ratificados pelo Brasil, a doação regulada por este termo poderá ser anulada e revertida em prol do DOADOR ou seus herdeiros, na hipótese de o DONATÁRIO PRATICAR OU FINANCIAR A EXECUÇÃO DE ATOS CRIMINOSOS E/OU NÃO ADMITIDOS PELO SISTEMA REGULADOR DA OPERAÇÃO QUE ORIGINOU A PRESENTE DOAÇÃO, A EXEMPLO:

1.  Crimes contra o sistema financeiro nacional e contra a ordem econômica e tributária, tratados, respectivamente, pelas Leis nº 7.492/86 e 8137/90 e normas que porventura venham substituí-las e/ou regulamentá-las;
2.  Financiar ou custear tráfico ilícito de drogas e armas - Lei nº. 11.343/2006;
3.  Em hipótese alguma, financiar partidos políticos e campanhas eleitorais;
4.  Tráfico de mulheres e crianças - artigo 149-A do Código Penal, com redação atual dada pela Lei 12.344/2016 - e rufianismo (Art. 230 do Código Penal Brasileiro);
5.  Crime contra a dignidade sexual, sobretudo aqueles praticados contra vulneráveis;
6.  Crimes hediondos e afins em conformidade com a lei Nº 8.072/90 que dispõe sobre este tipo de ilícito, nos termos do art. 5º, inciso XLIII e XLIV, da Constituição Federal;
7.  Outros tantos ilícitos ponderosos que abalam o interesse público.

**Parágrafo único:** O ato de perdimento dos valores recebidos por meio dessa doação e/ou bens adquiridos com os referidos recursos, precederá do devido processo legal e demais garantias constitucionais, podendo, entretanto, ser bloqueados/arrestados/sequestrados, até que a ação pertinente transite em julgado, de acordo com entendimento do Ministério Público e Poder Judiciário.

### CLÁUSULA TERCEIRA – DAS OBRIGAÇÕES

Das outras obrigações das partes são:

1.  O DONATÁRIO deverá preencher a Declaração de Bens e Direitos (DBD) apresentando o recolhimento do imposto (ITCMD) por meio do Sistema Integrado de Administração da Receita (SIARE), no prazo previsto na legislação pertinente, viabilizando, pois, a emissão da Certidão de Pagamento/Desoneração de ITCMD junto ao órgão fazendário competente.
2.  O DOADOR e DONATÁRIO deverão informar o presente negócio em suas respectivas declarações de Imposto de Renda relacionadas ao exercício em que ocorrer o negócio jurídico.

### CLÁUSULA QUARTA – DO ACEITE

Ao assinar o presente instrumento, o DONATÁRIO declara aceitar o objeto da doação, assim como todas as condições impostas no termo, sem ressalvas, declarando que por sua conta obteve assessoria jurídica para os termos acordados.

**Parágrafo único:** O DOADOR não se responsabiliza pelo uso indevido da importância doada, nem com a destinação do valor pelo DONATÁRIO, todavia, cabe o disposto na CLÁUSULA 2ª deste contrato.

### CLÁUSULA QUINTA – DA CONFIDENCIALIDADE, EXCLUSIVIDADE E CONFIANÇA MÚTUA

O presente termo de doação sustenta-se em cláusula de CONFIDENCIALIDADE, EXCLUSIVIDADE e CONFIANÇA MÚTUA entre as partes contratantes, sob pena de, em caso de infração, o DONATÁRIO perder o benefício em favor do DOADOR. Sendo assim, o DONATÁRIO se compromete a não divulgar a terceiros, incluindo quaisquer meios de comunicação, escrita ou verbalizada, dos termos aqui ajustados, a exemplo:

1.  Não utilizar as informações confidenciais com intuito de gerar benefício próprio exclusivo e/ou unilateral, presente ou futuro, ou para o uso de terceiros;
2.  Não empreender nenhuma gravação ou cópia da documentação confidencial a que tiver acesso, se abstendo de compartilhar quaisquer tipos de conteúdo tais como, áudios, fotos e textos, bem como procedimentos de pagamentos;
3.  Não se apropriar de material confidencial e/ou sigiloso que venha a ser disponibilizado;
4.  Não repassar as informações confidenciais, responsabilizando-se, até mesmo, por atos de pessoas que vierem, por sua culpa, tendo acesso aos conteúdos sigilosos, produzindo danos individuais, coletivos ou públicos.

**Parágrafo único:** Para efeito de entendimento inequívoco da cláusula em foco, considera-se Informação Confidencial: Toda referência revelada por intermédio de e-mails, redes sociais (grupo de WhatsApp, Telegram, etc.), comunicação telefônica e análogos, incluindo a forma escrita, verbal ou tácita, que digam respeito à doação e tudo o mais que lhe equivalha. Compreende, ainda, informações relativas a dados bancários, contatos telefônicos ou notícias pessoais do DOADOR e demais DONATÁRIOS, cônjuge ou familiares, assim também dados comerciais de todos os envolvidos nas operações que originaram a presente doação.

### CLÁUSULA SEXTA – DA VIGÊNCIA

A validade deste instrumento inicia-se com assinatura fidedigna das duas partes, todavia, empreendendo eficácia a partir do depósito legítimo na conta bancária válida e indicada pelo DONATÁRIO no parágrafo sétimo da Cláusula Primeira.

### CLÁUSULA SÉTIMA – DOS ANEXOS

Constituem parte integrante deste contrato, os documentos fornecidos pelo donatário para instruir a confecção do instrumento, quais sejam, cópias do comprovante de endereço, dos documentos pessoais, das certidões criminais, bem como o recibo de depósito do valor doado e o documento que demonstre, inequivocamente, seu recebimento pelo DONATÁRIO.

### CLÁUSULA OITAVA – DO FORO

Fica eleito o foro da Comarca de Mossoró/RN para dirimir as dúvidas ou controvérsias oriundas deste instrumento, com expressa renúncia de qualquer outro, por mais privilegiado que seja ou venha a ser.

As partes retro qualificadas, por estarem justas e acordadas, firmam o presente CONTRATO DE DOAÇÃO, o qual, depois de lido e de estarem de acordo com todas as cláusulas em sua íntegra, sem ressalvas, assinam o presente em duas vias de igual conteúdo, onde passam a ter seus efeitos legais.
<br>
{{ LOCAL_DATA_COMPLETA }}.

<br><br>
<div align="center" class="assinaturas">    
___________________________________________________<br>
<span style="font-weight: bold;">FRANCISCA EDNA DA CRUZ PEDREIRA</span><br>
DOADOR

<br><br><br><br><br><br>

_________________________________________________<br>
<span style="font-weight: bold;">{{ NOME_DONATARIO }}</span><br>
DONATÁRIO
</div>
<br><br>

**TESTEMUNHAS:**
<div class="testemunhas">
<br>
______________________________________________<br>
Nome:<br>
CPF:
<br><br>
______________________________________________<br>
Nome:<br>
CPF:
</div>